.wrapper{background: url('/static/blackjack_background.jpg') no-repeat center center fixed;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100vh;
  opacity: 0.85;

}


h1 {
  color: white;

  text-shadow: 5px 5px 15px black;
}

h2 {
  color: white;
  text-shadow: 2px 2px 5px black;
}

h3 {
  color: white;
  text-shadow: 2px 2px 5px black;
}


.clear, .clear1, .clear2, .clear3, .clear5 {
  clear: both;
  font-size: 0;
  line-height: 0; 
}

.clear {height: 0px;}
.clear1 {height: 30px;}
.clear2 {height: 60px;}
.clear3 {height: 80px;}
.clear5 {height: 120px;}


@media only screen and (min-width: 601px) {
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.7em;
  }
  .clear1 {height: 30px;
  }
  .clear2 {height: 60px;
  }
  .clear3 {height: 80px;
  }
  .clear5 {height: 120px;
  }
}


@media only screen and (max-width: 600px) and (orientation: portrait) {
  h1 {
    font-size: 1.17em;
  }
  h2 {
    font-size: 1em;
  }
  h3 {
    font-size: 0.83em;
  }
  .clear1 {height: 10px;
  }
  .clear2 {height: 20px;
  }
  .clear3 {height: 28px;
  }
  .clear5 {height: 40px;
  }
}

@media only screen and (max-width: 600px) and (orientation: landscape) {
  h1 {
    font-size: 0.585em;
  }
  h2 {
    font-size: 0.5em;
  }
  h3 {
    font-size: 0.415em;
  }
  .clear1 {height: 5px;
  }
  .clear2 {height: 10px;
  }
  .clear3 {height: 14px;
  }
  .clear5 {height: 20px;
  }
}
