.wrapper{background: url('/static/blackjack_background.jpg') no-repeat center center fixed;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100vh;
  opacity: 0.85;

}


h1 {
  color: white;

  text-shadow: 5px 5px 15px black;
}

h2 {
  color: white;
  text-shadow: 2px 2px 5px black;
}

h3 {
  color: white;
  text-shadow: 2px 2px 5px black;
}

@media only screen and (min-width: 601px) {
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.7em;
  }
}


@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.17em;
  }
  h2 {
    font-size: 1em;
  }
  h3 {
    font-size: 0.83em;
  }
}